body {
  background: url(../../assets/afbeelding/login-bg2.jpg) no-repeat fixed center center;
  background-size: cover;
  color: #666666;
  font-family: 'Open Sans';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
	font-weight: 700;
}

.page-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.page-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.page-title span {
  font-size: 12px;
}
.page-title span .fa {
  color: #34425A;
}
.page-title span a {
  color: #34425A;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #34425A;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .button-login {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #34425A;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #34425A;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module p {
  margin: -10px 0px 15px 0px;
  font-size: 11px;
  line-height: 1.2;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #34425A;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #34425A;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .footer-button {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .footer-button a {
  color: #333333;
  text-decoration: none;
}

#login-errors, #register-errors, #passreset-errors {
	color: #ff0000 !important;
}

#register-succesfull, #passreset-succesfull {
	color: #76EE00 !important;
}